.navbar {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 100%;
  min-height: 100%;
  padding: var(--mantine-spacing-md);
  background-color: $button-hover-blue;
}

.navbarMain {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: rem(100px);
  flex: 1;
}

.link {
  width: rem(50px);
  height: rem(50px);
  margin: rem(10px);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-white);

  &:hover {
    background-color: var(--mantine-color-blue-7);
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--mantine-color-white);
      color: var(--mantine-color-blue-6);
    }
  }
}