@use './variables.module.scss' as *;
@use './utilities.module.scss' as *;

.button {
  cursor: pointer;
  padding: 10px;
  font-size: 2vh;
  color: $white;
}

.images {
  * {
    padding: 1rem;
    margin: 0.5rem;
  }

  .section-container {
    padding-top: 3rem;

    section {
      border: 1px solid $black;
      box-shadow: 0 5px 15px rgb(0 0 0 / 0.6);
    }
  }

  // .overview-1 {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   padding: 3rem;
  //   margin: 0rem 3rem 0rem 3rem;

  //   .text-container {
  //     display: flex;
  //     flex-basis: 1/3;

  //     p {
  //       margin: 0 1rem 1rem 1rem;
  //     }
  //   }
  // }

  .contact {
    padding: 3rem;
    margin: 0rem 3rem 0rem 3rem;
  }

  .footer {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 3rem;
    margin: 3rem;
    border: 1px solid $black;
    box-shadow: 0 5px 15px rgb(0 0 0 / 0.8);
  }

  // Variation on .animated-header-text
  .animated-button-background {
    --bg-size: 400%;
    --color-one: rgb(32, 70, 102);
    --color-two: rgb(51, 110, 117);
    background: linear-gradient(90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)) 0 0 / var(--bg-size) 100%;
    animation: move-bg 15s infinite linear;
    color: transparent;
    font-weight: 900;
  }
}